<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="st" class="com.target.beans.Student1">
  <property name="name" value="Muni"></property>
  <property name="id" value="7"></property>
  <property name="location" value="TPT"></property>
  <property name="subject" value="Maths"></property>

  </bean>
  
  <bean id="t" class="com.target.beans.Student1">
  <property name="name" value="Muni"></property>
  <property name="id" value="7"></property>
  <property name="location" value="TPT"></property>
  <property name="subject" value="Maths"></property>
   </bean>
  

</beans>